/* define your color & font-size */

$base01: red;
$base02: fuchsia;
$base03: #3C3C3C;
$base04: chocolate;
$base05: #E0DEDE;
$base06: moccasin;
$base07: #519AE3;
$base08: black;

$alpha: 1/6;

$font-size: 16px;
$line-height: 1;
