/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: "Microsoft YaHei",SimHei,"Ubuntu Mono",Ubuntu,"Ubuntu Light",Arial,"STHeiti",Corbel,sans-serif;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 100;
  background-color: #eeeeee;
}


/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  margin: 0 auto;
  zoom: 1;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

.main-content {
	min-height:100%;  
	/*background-image: url(http://www.cssmatic.com/img/bg-right-column.jpg);*/
	position:relative;
	background-color:#f6f6f6;
	background: #f3f3f3 url(http://img.baidu.com/img/iknow/exp/step/step_bg.png) repeat;
}

/* Site header */

.site-header {
  border-bottom: 1px solid #cccccc;
  opacity:0.9;
  background-color:#009dd7;
  /* position:fixed; */
  top:0;
  width:100%;

/*background: rgb(235,241,246); 
background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(188,188,188,1) 53%, rgba(184,194,196,1) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(53%,rgba(188,188,188,1)), color-stop(100%,rgba(184,194,196,1))); 
background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(188,188,188,1) 53%,rgba(184,194,196,1) 100%);  
background: -o-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(188,188,188,1) 53%,rgba(184,194,196,1) 100%); 
background: -ms-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(188,188,188,1) 53%,rgba(184,194,196,1) 100%); 
background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(188,188,188,1) 53%,rgba(184,194,196,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#b8c2c4',GradientType=0 );*/ 

}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #fff;
  font-size: 30px;
  letter-spacing: 5px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1;
}

.site-nav {
  float: right;
  line-height: 56px;
  color: #fff;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
  margin-left: 20px;
  color: #fff;
  letter-spacing: 1px;
}

/* Site footer */

.site-footer {
  border-top: 1px solid #cccccc;
  padding: 10px 0px 0 0;
  opacity:0.95;
  width:100%;
  /* position:fixed; */
  bottom:0;
  background-color:#009dd7;

/*background: rgba(254,254,254,1);
background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(226,226,226,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(226,226,226,1)));
background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(226,226,226,1) 100%);
background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(226,226,226,1) 100%);
background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(226,226,226,1) 100%);
background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(226,226,226,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0 );*/

}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

.footer_nav{
  color: #fff;
}

.site-footer .column { color:#fff; float: left; margin-bottom: 5px; }

.footer-col-1 {
  /* width: 270px; /*fallback*/ */
  width: -webkit-calc(35% - 10px);
  width: -moz-calc(35% - 10px);
  width: -o-calc(35% - 10px);
  width: calc(35% - 10px);
  margin-right: 10px
}
.footer-col-2 {
  /* width: 270px; /*fallback*/ */
  width: -webkit-calc(35% - 10px);
  width: -moz-calc(35% - 10px);
  width: -o-calc(35% - 10px);
  width: calc(35% - 10px);
}
.footer-col-3 {
  /* width: 250px; /*fallback*/ */
  width: -webkit-calc(30%);
  width: -moz-calc(30%);
  width: -o-calc(30%);
  width: calc(30%);
}

.site-footer ul { list-style: none; }

.site-footer li,
.site-footer p {
  font-size: 15px;
  letter-spacing: -.3px;
  color: #fff;
}

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}


/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 80px 0 60px 0;
  max-width: 800px;
  margin:0 auto;
  /*background-color: #fff;*/
  /*padding-bottom:60px;*/  
}


/* Home styles */
/* ----------------------------------------------------------*/



.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
  font-family: gotham, Helvetica, Arial, "Droid Sans", sans-serif;
  color:#000;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}

.posts .post-block{
	background-color:#fff;
	opacity:80%;
	margin-bottom:10px;
	padding:10px;
	height:60px;
}


/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 750px) {

  .footer-col-1 { width: 50%; }

  .footer-col-2 {
    width: 45%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }

}

@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .menu-icon svg { width: 18px; height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }

  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px; }

}