/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  /*padding: 0;*/
}

html, body { height: 100%; }

body {
  font-family: "Microsoft YaHei",SimHei,"Ubuntu Mono",Ubuntu,"Ubuntu Light",Arial,"STHeiti",Corbel,sans-serif;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 100;
  background-color: rgb(92, 157, 255);
  margin: 0px auto;
  padding-top: 1px;
}


/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  margin: 0 auto;
  zoom: 1;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

.main-content {
	/* min-height:100%;
	background-image: url(http://www.cssmatic.com/img/bg-right-column.jpg);
	position:relative;
	background-color:#f6f6f6;
	background: #f3f3f3 url(http://img.baidu.com/img/iknow/exp/step/step_bg.png) repeat; */
}

/* Site header */

.site-header {
	background-color: #E9EEF0;
	top: 0px;
	width: 100%;
	z-index: 999;
	position: fixed;
	box-shadow: 0px 0px 4px 0px !important;
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #222;
  font-size: 30px;
  letter-spacing: 5px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1;
  margin-left: 20px;
}

.site-nav {
  float: right;
  line-height: 56px;
  color: #fff;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
  margin: 20px;
  color: #222;
  letter-spacing: 1px;
}

/* Site footer */

.site-footer {
	background-color: #E9EEF0;
	bottom: 0px;
	width: 100%;
	z-index: 999;
	position: fixed;
	box-shadow: 0px 0px 4px 0px !important;

/*background: rgba(254,254,254,1);
background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(226,226,226,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(226,226,226,1)));
background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(226,226,226,1) 100%);
background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(226,226,226,1) 100%);
background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(226,226,226,1) 100%);
background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(226,226,226,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0 );*/

}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

.footer_nav{
  color:#222;
}

.site-footer .column { 
color:rgb(96, 106, 115); 
float: left; 
margin:10px;
}

.footer-col-1 {
  width: -webkit-calc(40% - 10px);
  width: -moz-calc(40% - 10px);
  width: -o-calc(40% - 10px);
  width: calc(40% - 10px);
}
.footer-col-2 {
  width: -webkit-calc(40% - 10px);
  width: -moz-calc(40% - 10px);
  width: -o-calc(40% - 10px);
  width: calc(40% - 10px);
}
.footer-col-3 {

}

.site-footer ul 
{ 
	list-style: none; 
	float: left;
}

.site-footer li,
.site-footer p {
  font-size: 15px;
  letter-spacing: -.3px;
  color: #222;
}

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}


/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
	max-width: 1000px;
	margin: 80px auto;
	box-shadow: 0px 1px 4px 0px !important;
	padding: 20px;
	background-color: rgb(233, 238, 240);
}


/* Home styles */
/* ----------------------------------------------------------*/



.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
  font-family: gotham, Helvetica, Arial, "Droid Sans", sans-serif;
  color:#000;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}

.posts .post-block{
	background-color:#fff;
	opacity:80%;
	margin-bottom:10px;
	padding:10px;
	height:60px;
}


/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 750px) {

  .footer-col-1 { width: 50%; }

  .footer-col-2 {
    width: 45%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }

}

@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .menu-icon svg { width: 18px; height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }

  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px; }

}