<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    
    <link rel="stylesheet" href="/res/css/page.css">
    <link rel="stylesheet" href="/res/css/public.css">
    <link rel="stylesheet" href="/res/css/light.css">
    <script src="/res/js/light.js"></script>
    <script type="text/javascript" async="" src="/res/js/embed.js" charset="UTF-8"></script>
</head>
